pkgbase = cowspeak
	pkgdesc = Display an animal with a random quote or your own text
	pkgver = 2.83
	pkgrel = 1
	url = https://github.com/Souravgoswami/cowspeak-root
	arch = any
	license = MIT
	depends = ruby>=2.5
	provides = cowspeak
	source = https://github.com/Souravgoswami/cowspeak-root/raw/master/tarballs/cowspeak-v2.83.tar.xz
	md5sums = 102243cb326f73ae7a9e687b7646a438

pkgname = cowspeak

